# Node
node_modules

# Bower
bower_components

# Sass
.sass-cache/
*.sassc
*.scssc

# Vi
*.swp

# Mac OSX
.DS_Store
Icon
*.swp~

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
